$backgroundImage1:url('../Images/hotel2.jpeg');
$backgroundImage2:url('../Images/hotel3.jpeg');
$backgroundImage3:url('../Images/hotel2.jpeg');
$letterSize-unSelection:30px;
$letterSize-Selection:35px;
main {
    display: flex;
    flex-direction: column;
    section {
        font-size: 0px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        .main-object {
            opacity: 0;
            background: rgba($color: black, $alpha: 0.0);
            color: rgba($color: white, $alpha: 0);
            h2 {
                text-align: center;
                transition: color .3s;
            }
            p {
                margin: 3%;
                transition: color .3s;
            }
            transition:background .3s;
        }
        transition:.3s;
    }
    section:hover {
        font-size: 25px;
        .main-object {
            opacity: 1;
            background: rgba($color: black, $alpha: 0.25);
            h2 {
                color: rgba($color: white, $alpha: 1.0);
            }
            p {
                color: rgba($color: white, $alpha: 1.0);
            }
        }
        transition-delay: .1s;
    }
    .home {
        background-image: $backgroundImage1;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
    }
    .about {
        background-image: $backgroundImage2;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
    }
    .cool {
        background-image: $backgroundImage3;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
    }
}