* {
    margin: 0;
    padding: 0;
}

$letterColor-Selection:white;
$letterColor-unSelection:rgba(255, 255, 255, .651);
$letterSize-unSelection:30px;
$letterSize-Selection:35px;
$backgroundImage1:url('../Images/hotel2.jpeg');
$backgroundImage2:url('../Images/hotel1.jpeg');
$backgroundImage3:url('../Images/hotel2.jpeg');
@mixin setProperties($backgroundImage) {
    background-image: $backgroundImage;
    background-size: cover;
    background-repeat: no-repeat;
}

body {
    @include setProperties(url('../Images/hotel1.jpeg'));
    margin: 0;
    padding: 0;
    height: 100vh;
}

@import "./nav.scss";
.start {
    height: 100vh;
    // font-size: 25px;
    // font-size: 0px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    opacity: 0;
    font-size: 0px;
    .start-group {
        color: rgba($color: white, $alpha: 0);
        background: rgba($color: black, $alpha: 0.0);
        h2 {
            text-align: center;
            transition: color .3s;
        }
        p {
            margin: 3%;
            transition: color .3s;
        }
        transition:background .3s;
    }
    transition:.3s;
}

.start:hover {
    opacity: 1;
    font-size: 25px;
    .start-group {
        background: rgba($color: black, $alpha: .25);
        h2 {
            color: rgba($color: white, $alpha: 1.0);
        }
        p {
            color: rgba($color: white, $alpha: 1.0);
        }
    }
    transition-delay: .1s;
}

@import "./main.scss";
@import "./footer.scss";